/******************************************************************
Site Name: SIR Annual Report 2015
Author: Sagetopia

Stylesheet: IE Stylesheet
******************************************************************/

#main-nav {

	.logo-wrap {
		background: url(https://s3.amazonaws.com/sirweb.org/img/logo_bg.png) left center no-repeat;
	}
}
