/******************************************************************
Site Name: SIR Annual Report 2015
Author: Sagetopia

Stylesheet: 481px and Up Stylesheet
******************************************************************/

.alignleft, .alignright {
	margin-bottom: 2em;
}

.alignleft {
	margin-right: 2em;
	float: left;

	&.sidebar {
		margin-right: 0;
	}
}

.alignright {
	margin-left: 2em;
	float: right;
	clear: right;

	&.sidebar {
		margin-left: 0;
	}
}

.boxed {
	&.alignright, &.alignleft {
		max-width: 200px;

		&.sidebar {
				max-width: 100%;
		}
	}
}